@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeueBold-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

svg * {
  transition-property: fill, stroke;
}

:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-white: #FFFFFF;
  --color-text: #48555B;
  --color-gray: #E6E6E6;
  --color-overlay: #c5c5c5;
  --color-blue: #00A4E5;
  --color-dark: #171819;
  --color-dark-alternate: #141A20;
  --border: 0.0625rem solid var(--color-gray);
  --font-family-base: "OpenSans", sans-serif;
  --font-family-accent: "BebasNeue", sans-serif;
  --container-width: 58.75rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: 0.8125rem;
  line-height: 1.77;
  color: var(--color-text);
  background-color: var(--color-white);
}

h1, .h1 {
  font-size: clamp(1.875rem, 0.5454545455rem + 5.4545454545vw, 3.75rem);
  font-family: var(--font-family-accent);
  line-height: normal;
  letter-spacing: 0.1em;
  text-align: center;
}

h2, .h2 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0.13em;
  text-transform: uppercase;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-blue);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-blue);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-blue);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.header {
  margin-bottom: 3.75rem;
}
@media (width <= 47.99875rem) {
  .header {
    margin-bottom: 3.125rem;
  }
}
.header__inner {
  display: flex;
  flex-direction: column;
}
.header__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 48.125rem;
  padding-top: 2.5rem;
  padding-bottom: 4.375rem;
  color: var(--color-white);
  background: url("../img/hero/hero-bg.jpg") center/cover no-repeat;
}
.header__logo {
  display: inline-block;
}
@media (width <= 47.99875rem) {
  .header__logo {
    opacity: 0;
    visibility: hidden;
  }
}
.header__main {
  display: grid;
}
.header__subtitle {
  font-weight: 600;
  font-size: 1rem;
}
.header__text {
  font-weight: 600;
  font-size: 0.6875rem;
  letter-spacing: 0.34em;
  text-transform: uppercase;
}
.header__actions {
  border-bottom: var(--border);
}
@media (width <= 47.99875rem) {
  .header__actions {
    border-bottom: none;
  }
}

@media (width <= 47.99875rem) {
  .actions {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    animation-name: scrolling-header;
    animation-fill-mode: both;
    animation-timeline: scroll();
    animation-range: 3.125rem 8.125rem;
  }
  @keyframes scrolling-header {
    to {
      background-color: var(--color-dark);
      box-shadow: 0 0 1rem 0 black;
    }
  }
}
.actions__body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 4.0625rem;
}
@media (width <= 47.99875rem) {
  .actions__logo svg path:nth-child(1) {
    fill: var(--color-white);
  }
}
@media (width <= 47.99875rem) {
  .actions__overlay {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    padding: 1rem;
    background-color: var(--color-overlay);
    transition-duration: var(--transition-duration);
  }
  .actions__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
.actions__menu-list {
  display: flex;
  column-gap: 2.5rem;
}
@media (width <= 47.99875rem) {
  .actions__menu-list {
    flex-direction: column;
    align-items: center;
    row-gap: 1.875rem;
  }
}
.actions__menu-link {
  font-weight: 600;
  font-size: 0.75rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.burger-button {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.375rem;
  position: relative;
  z-index: 2;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}
@media (any-hover: hover) {
  .burger-button:hover .burger-button__line {
    background-color: var(--color-blue);
  }
}
@media (any-hover: none) {
  .burger-button:active .burger-button__line {
    background-color: var(--color-blue);
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  animation: firstLineToCross 0.2s ease-in-out forwards;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  animation: secondLineFade 0.2s ease-in-out forwards;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  animation: thirdLineToCross 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(1) {
  animation: firstLineToBurger 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(2) {
  animation: secondLineShow 0.2s ease-in-out forwards;
}
.burger-button:not(.is-active) .burger-button__line:nth-child(3) {
  animation: thirdLineToBurger 0.2s ease-in-out forwards;
}
.burger-button__line {
  display: block;
  width: 1.5rem;
  height: 0.1875rem;
  background-color: var(--color-white);
}
@keyframes firstLineToCross {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(0.5625rem) rotate(45deg);
  }
}
@keyframes secondLineFade {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  50% {
    opacity: 0;
    transform: scaleX(0);
  }
  100% {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes thirdLineToCross {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(-0.5625rem) rotate(-45deg);
  }
}
@keyframes firstLineToBurger {
  0% {
    transform: translateY(0.5625rem) rotate(45deg);
  }
  50% {
    transform: translateY(0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes secondLineShow {
  0% {
    opacity: 0;
    transform: scaleX(0);
  }
  50% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes thirdLineToBurger {
  0% {
    transform: translateY(-0.5625rem) rotate(-45deg);
  }
  50% {
    transform: translateY(-0.5625rem) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.story:not(:last-child) {
  margin-bottom: 7.1875rem;
}
@media (width <= 47.99875rem) {
  .story:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.story__header:not(:last-child) {
  margin-bottom: 3.75rem;
}
@media (width <= 47.99875rem) {
  .story__header:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}
.story__title {
  position: relative;
  text-align: center;
  height: 2.5rem;
}
.story__title::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  bottom: 0;
  width: 3.125rem;
  height: 0.125rem;
  background-color: var(--color-blue);
}
.story__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
}
@media (width <= 63.99875rem) {
  .story__body {
    flex-direction: column-reverse;
  }
}
.story__content {
  display: grid;
  row-gap: 1.875rem;
  max-width: 25.3125rem;
}
@media (width <= 63.99875rem) {
  .story__content {
    max-width: 100%;
    row-gap: 1.25rem;
  }
}
.story__text {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.01em;
  line-height: normal;
}
@media (width <= 47.99875rem) {
  .story__text {
    font-size: 1rem;
  }
}
.story__text span {
  color: var(--color-blue);
}
.story__images-list {
  display: flex;
  gap: 1.25rem;
}
@media (width <= 30.06125rem) {
  .story__images-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.story__images-item {
  position: relative;
}
.story__images-item::before {
  position: absolute;
  font-family: var(--font-family-base);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.21;
  letter-spacing: 0.01em;
  color: var(--color-white);
  text-transform: uppercase;
  padding: 0.9375rem;
}
@media (width <= 63.99875rem) {
  .story__images-item::before {
    font-size: 1.125rem;
  }
}
.story__images-item:nth-child(1)::before {
  content: "We plan";
}
.story__images-item:nth-child(2)::before {
  content: "We manage";
}
.story__images-item:nth-child(3)::before {
  content: "We build";
}

.capability:not(:last-child) {
  margin-bottom: 7.1875rem;
}
@media (width <= 47.99875rem) {
  .capability:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.capability__header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.625rem;
}
@media (width <= 63.99875rem) {
  .capability__header {
    flex-direction: column;
    align-items: flex-start;
  }
}
.capability__header:not(:last-child) {
  margin-bottom: 4.6875rem;
}
@media (width <= 47.99875rem) {
  .capability__header:not(:last-child) {
    margin-bottom: 3.125rem;
  }
}
.capability__title {
  position: relative;
  height: 2.5rem;
}
.capability__title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 3.125rem;
  height: 0.125rem;
  background-color: var(--color-blue);
}
.capability__text {
  display: flex;
  column-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .capability__text {
    flex-direction: column;
    row-gap: 0.625rem;
  }
}
.capability__slogan {
  line-height: 173%;
  letter-spacing: 0.02em;
  max-width: 28.75rem;
}
.capability__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5625rem;
}
@media (width <= 47.99875rem) {
  .capability__list {
    grid-template-columns: 1fr;
  }
}
.capability__item {
  display: grid;
  row-gap: 1.5625rem;
  padding: 2.375rem 1.375rem;
  border: var(--border);
}
.capability__content {
  display: grid;
  row-gap: 0.8125rem;
}
.capability__subtitle {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.button {
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-blue);
  text-transform: uppercase;
}
@media (any-hover: hover) {
  .button:hover {
    color: var(--color-white);
    background-color: var(--color-text);
  }
}
@media (any-hover: none) {
  .button:active {
    color: var(--color-white);
    background-color: var(--color-text);
  }
}
.button--capability {
  padding: 0.625rem 1.875rem;
}
@media (width <= 47.99875rem) {
  .button--capability {
    align-self: start;
  }
}
.button--build {
  padding: 0.625rem 1.5625rem;
  justify-self: center;
}
.button--form {
  border: none;
  padding: 0.625rem 3.125rem;
}
@media (width <= 47.99875rem) {
  .button--form {
    padding-inline: 1.5625rem;
  }
}

.build__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 31.25rem;
  background: url("../img/build/build-bg.jpg") center/cover no-repeat;
}
@media (width <= 47.99875rem) {
  .build__inner {
    height: 15.625rem;
  }
}
.build__content {
  display: grid;
  row-gap: 1.875rem;
}
.build__title {
  font-size: clamp(1.25rem, 0.8068181818rem + 1.8181818182vw, 1.875rem);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-transform: none;
  max-width: 21.875rem;
  text-align: center;
}

.footer__subscribe {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--color-dark);
  padding-block: 1.875rem;
}
@media (width <= 47.99875rem) {
  .footer__subscribe {
    flex-direction: column;
    row-gap: 0.625rem;
  }
}
.footer__text {
  font-weight: 700;
  font-size: 1.375rem;
  letter-spacing: 0.04em;
  color: var(--color-white);
  margin-right: 5.3125rem;
}
@media (width <= 47.99875rem) {
  .footer__text {
    margin: 0;
  }
}
.footer__form {
  display: flex;
}
.footer__main {
  background-color: var(--color-dark-alternate);
}
.footer__content {
  display: flex;
  justify-content: space-between;
  column-gap: 1.25rem;
  color: var(--color-white);
  padding-block: 2.5rem;
}
@media (width <= 47.99875rem) {
  .footer__content {
    flex-direction: column;
    row-gap: 1.875rem;
    padding-block: 1.25rem;
  }
}
.footer__heading {
  display: block;
  font-size: 0.6875rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.footer__heading:not(:last-child) {
  margin-bottom: 1.25rem;
}
.footer__description {
  max-width: 16.25rem;
}
@media (width <= 47.99875rem) {
  .footer__description {
    max-width: 100%;
  }
}
.footer__logo {
  display: inline-block;
}
.footer__logo:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__menu {
  display: flex;
  column-gap: 1.875rem;
}
@media (width <= 47.99875rem) {
  .footer__menu-column {
    width: 100%;
  }
}
.footer__menu-list {
  display: grid;
  row-gap: 0.625rem;
}
.footer__menu-link {
  text-transform: uppercase;
}
.footer__contacts {
  display: grid;
}
.footer__address {
  max-width: 7.5rem;
}
@media (width <= 47.99875rem) {
  .footer__address {
    max-width: 100%;
  }
}
.footer__address:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__phone:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.footer__copyright {
  text-align: center;
  font-size: 0.6875rem;
  letter-spacing: 0.08em;
  color: var(--color-white);
  background-color: var(--color-dark);
  padding: 1.375rem 1rem;
}

.field__input {
  width: 15.625rem;
  font-size: 0.875rem;
  letter-spacing: 0.01em;
  background-color: var(--color-white);
  border: none;
  padding: 0.625rem 1rem;
}
@media (width <= 30.06125rem) {
  .field__input {
    width: 100%;
  }
}

.soc1als__list {
  display: flex;
  column-gap: 1.5625rem;
}
@media (width <= 47.99875rem) {
  .soc1als__list {
    justify-content: center;
  }
}
.soc1als__link svg {
  width: 0.75rem;
  height: 0.75rem;
}
@media (any-hover: hover) {
  .soc1als__link svg:hover path {
    fill: var(--color-blue);
  }
}
@media (any-hover: none) {
  .soc1als__link svg:active path {
    fill: var(--color-blue);
  }
}

/*# sourceMappingURL=main.css.map */