@use 'helpers' as *;

.button {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-blue);

    @include hover {
        color: var(--color-white);
        background-color: var(--color-text);
    }

    &--capability {
        padding: rem(10) rem(30);

        @include mobile {
            align-self: start;
        }
    }

    &--build {
        padding: rem(10) rem(25);
        justify-self: center;
    }
}