@use 'helpers' as *;

.header {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        height: rem(770);
        padding-top: rem(40);
        padding-bottom: rem(70);
        color: var(--color-white);
        background: url('../img/hero/hero-bg.jpg') center/cover no-repeat;
    }

    &__logo {
        display: inline-block;

        @include mobile {
            @include hide;
        }
    }

    &__main {
        display: grid;
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(16);
    }

    &__subtitle {
        font-weight: 600;
        font-size: rem(11);
    }

    &__text {
        font-weight: 600;
        font-size: rem(11);
        letter-spacing: 0.34em;
        text-transform: uppercase;
    }

    &__actions {
        border-bottom: var(--border);

        @include mobile {
            border-bottom: none;
        }
    }
}