@use 'helpers' as *;

.soc1als {
    &__list {
        display: flex;
        column-gap: rem(25);

        @include mobile {
            justify-content: center;
        }
    }

    &__link {
        svg {
            @include square(rem(12));

            @include hover {
                path {
                    fill: var(--color-blue);
                }
            }
        }
    }
}